---
import BaseLayout from "./BaseLayout.astro";
import dayjs from "dayjs";
import localizedFormat from "dayjs/plugin/localizedFormat";

dayjs.extend(localizedFormat);

const { frontmatter } = Astro.props;
const displayDate = dayjs(frontmatter.pubDate).format("ll");
---

<BaseLayout
  title={frontmatter.title}
  description={frontmatter.description}
  image={frontmatter.heroImage}
>
  <main class="md:flex md:justify-center">
    <article class="prose prose-lg max-w-[750px] prose-img:mx-auto">
      {
        frontmatter.heroImage && (
          <img
            src={frontmatter.heroImage}
            alt={frontmatter.title}
            class="w-full object-cover mb-6 aspect-video max-w-[750px] h-[422px]"
          />
        )
      }
      <h1 class="title my-2 text-4xl font-bold">{frontmatter.title}</h1>
      {frontmatter.pubDate && <time>{displayDate}</time>}
      <br />
      {
        frontmatter.badge && (
          <div class="badge badge-secondary my-1">{frontmatter.badge}</div>
        )
      }
      {
        frontmatter.updatedDate && (
          <div>
            {" "}
            Last updated on <time>{frontmatter.updatedDate}</time>{" "}
          </div>
        )
      }
      <div class="divider my-2"></div>
      <slot />
    </article>
  </main>
</BaseLayout>
